<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.android.Mapper.ReplyMapper">
    <select id="getReplyList" resultType="com.example.android.Dto.Reply">
        select *
        from reply_tb
        where b_no = #{b_no}
    </select>

    <select id="getMyReplyList" resultType="com.example.android.Dto.Reply">
        select *
        from reply_tb
        where r_writer = #{u_id}
    </select>

    <insert id="insertReply">
        insert into REPLY_TB(R_DTT, R_CONTENT, R_WRITER, B_NO)
        values(systimestamp, #{r_content}, #{r_writer}, #{b_no})
    </insert>

    <update id="updateReply">
        update reply_tb set R_CONTENT=#{r_content}
        where R_DTT = #{r_dtt}
    </update>

    <delete id="deleteByRdtt">
        delete from reply_tb where r_dtt = #{r_dtt}
    </delete>

    <delete id="deleteByBno">
        delete from reply_tb where b_no = #{b_no}
    </delete>
</mapper>